* {
    margin:0 ;
    padding:0 ;
}
body{
    background-color: #F8DDDA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.col-xs-12{
    background-color: #D4B7B3;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Sora', sans-serif;
    line-height: 40px;
}